*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: #202020;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc{
   display: grid;
   grid-template-columns: repeat(4 , 60px);
}
input{
    grid-column: span 4;
    border: none;
    outline-color: transparent;
    height: 100px;
    text-align: end;
    padding: 0 15;
    font-size: 35px;
    font-family: monospace;
    caret-color: #252525;
}
::placeholder{
    padding-right: 10px;
}
button{
    width: 60px;
    height: 60px;
    font-size: 20px;
    border: none;
    background-color:#252525;
    color: #ccc;
    padding: 10px;
    font-family: monospace;
    transition: 0.7s linear;
}
button:nth-child(2){
    background-color:rgb(56, 157, 234);
}
button:nth-child(3){
    background-color: rgb(216, 45, 45);
}
button:last-child{
    background-color:teal;
}
button:active{
    background-color: rgb(28, 197, 28);
}